/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #2e3a59;
  font-family: "Euclid Circular A", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  color: #222b45;
  font-weight: 500;
}

.text-muted {
  color: #8f9bb3;
}

.hero__menu {
  padding: 1.6rem;
  background-color: #fff;
}
.hero__menu ul {
  display: flex;
  gap: 0.8rem;
  overflow-x: auto;
}
.hero__menu ul::-webkit-scrollbar {
  display: none;
}
.hero__menu li {
  background-color: #fff;
  border-radius: 25px;
  border: 1px solid #2e3a59;
  cursor: pointer;
  color: #2e3a59;
  font-weight: 500;
  padding: 0.6rem 1.6rem;
  transition: all 0.3s;
  white-space: nowrap;
}
.hero__menu li:hover:not(.hero__menu--active) {
  background-color: #e9ecf4;
}
.hero__menu .hero__menu--active {
  background-color: #2e3a59;
  color: #fff;
}
@media (min-width: 768px) {
  .hero__menu {
    padding: 3.1rem 6.3rem 11rem 2.4rem;
    border-radius: 8px;
  }
  .hero__menu header {
    font-size: 16px;
    line-height: 24px;
    color: #8f9bb3;
    font-weight: 500;
    margin-bottom: 4rem;
  }
  .hero__menu ul {
    flex-direction: column;
  }
  .hero__menu li {
    border-radius: 8px;
    border: 0;
    display: flex;
    gap: 1.6rem;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    padding: 1.2rem 1rem 1.2rem 2.7rem;
  }
  .hero__menu .hero__menu--active {
    background-color: #ffd339;
    color: #2e3a59;
  }
  .hero__menu div {
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

body {
  padding: 2rem;
  background-color: #edf1f7;
}

.hero__orders {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.hero__order {
  background-color: #fff;
  border-radius: 8px;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.order__info {
  padding: 2.4rem 0 3.2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 2.4rem;
}
.order__info span {
  font-size: 12px;
  line-height: 16px;
  color: #8f9bb3;
}
.order__info p {
  font-weight: 500;
  margin-top: 0.4rem;
}
.order__info > div:last-of-type {
  margin-top: 1.6rem;
  grid-column: 1/3;
  justify-self: center;
}

.order__status--completed {
  color: #00d68f;
}
.order__status--pending {
  color: #ffd339;
}

.order__expand {
  align-items: center;
  background: rgba(0, 149, 255, 0.08);
  border-radius: 50%;
  border: 1px solid #0095ff;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  width: 32px;
}
.order__expand svg {
  width: 9.33px;
  height: 4.67px;
  fill: #0095ff;
  transition: all 0.3s;
}
.order__expand--active svg {
  transform: rotate(-180deg);
}

.order__content {
  height: 0;
  overflow: hidden;
  transition: all 0.5s;
}
.order__details {
  padding: 2.4rem 0 3.2rem;
  border-top: 1.5px solid #edf1f7;
}
.order__link {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr 1fr;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  grid-row-gap: 1.6rem;
}
.order__link p {
  color: #fff;
  background-color: #0095ff;
  border-radius: 8px;
  padding: 0.4rem 1.1rem;
}
.order__link svg {
  grid-column: 3/4;
  cursor: pointer;
}
.order__link a {
  display: flex;
  align-items: center;
  gap: 0.96rem;
  padding: 0.4rem 1.2rem;
  background-color: #ffea88;
  border-radius: 8px;
  grid-row: 2/3;
  grid-column: 1/3;
  justify-self: start;
}
.order__specifications {
  padding: 2.4rem 0;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.order__specifications > div {
  display: flex;
  flex-direction: column;
}
.order__specifications p,
.order__specifications a {
  font-size: 16px;
  line-height: 24px;
}
.order__specifications p {
  font-weight: 500;
}
.order__specifications span {
  color: #8f9bb3;
}
.order__specifications a {
  color: #3366ff;
}
.order__track {
  display: flex;
  align-items: flex-start;
  gap: 1.6rem;
  padding: 0.8rem 0;
  overflow-x: auto;
}
.order__track::-webkit-scrollbar {
  display: none;
}
.order__track > div:nth-child(even) {
  width: 40px;
  height: 1px;
  background-color: #edf1f7;
  margin-top: 1.6rem;
}
.order__step {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #8f9bb3;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  white-space: nowrap;
}
.order__step div {
  align-items: center;
  background-color: rgba(143, 155, 179, 0.08);
  border-radius: 50%;
  border: 1px solid #8f9bb3;
  display: flex;
  height: 32px;
  justify-content: center;
  width: 32px;
}
.order__step--expected {
  color: #00d68f;
}
.order__step--expected div {
  background-color: rgba(0, 214, 143, 0.08);
  border: 1px solid #00d68f;
}
.order__step--ready {
  color: #00d68f;
}
.order__step--ready div {
  background-color: #00d68f;
  border: 1px solid #00d68f;
  background-image: url("../../images/icon-done.svg");
  background-repeat: no-repeat;
  background-position: center center;
  color: transparent;
}

@media (min-width: 768px) {
  .hero__orders {
    gap: 0.8rem;
  }

  .hero__order {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }

  .order__info {
    padding: 2.4rem 0 2.4rem 0;
    grid-template-columns: repeat(4, 2fr) auto;
    grid-row-gap: 0rem;
    align-items: center;
  }
  .order__info > div:last-of-type {
    margin-top: 0rem;
    grid-column: 5/6;
  }

  .order__link {
    grid-template-rows: 1fr;
    grid-row-gap: 0;
    grid-column-gap: 1.6rem;
  }
  .order__link a {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .order__specifications {
    padding: 2.4rem 0;
    gap: 1.2rem;
  }
  .order__specifications > div {
    flex-direction: row;
    gap: 1.6rem;
    align-items: center;
  }
  .order__specifications span {
    width: 152px;
  }
}
.block {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.hidden {
  display: none;
}

.hide-desktop {
  display: block;
}
@media (min-width: 768px) {
  .hide-desktop {
    display: none;
  }
}

.hide-mobile {
  display: none;
}
@media (min-width: 768px) {
  .hide-mobile {
    display: block;
  }
}

.container {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1216px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
}

nav {
  border-bottom: 1px solid #e5e5e5;
}
nav > div {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1.6rem 0;
}
nav svg {
  cursor: pointer;
}
nav .nav__logo {
  flex-grow: 1;
}
nav .nav__logo svg {
  width: 116px;
}
nav .nav__links {
  color: #222b45;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 500;
  gap: 2.4rem;
  line-height: 28px;
  text-align: center;
  margin: 8rem 0;
  order: -2;
}
nav .nav__links li {
  transition: all 0.3s;
}
nav .nav__links li:hover {
  color: #fbc300;
}
nav .nav__language,
nav .nav__currency {
  font-size: 16px;
  line-height: 24px;
}
nav .nav__language {
  padding: 2.4rem 2.9rem;
  margin: 2.4rem 0 3.2rem;
  border-top: 1px solid #edf1f7;
  border-bottom: 1px solid #edf1f7;
}
nav .nav__language ul {
  display: flex;
  gap: 2rem;
}
nav .nav__language li {
  align-items: center;
  background-color: #e4e9f2;
  border-radius: 50%;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
  cursor: pointer;
}
nav .nav__language .dropdown--active {
  background-color: #2e3a59;
  color: #ffd339;
}
nav span {
  color: #8f9bb3;
  text-align: center;
  margin-bottom: 0.8rem;
}
nav .nav__currency {
  width: 88px;
  justify-content: center;
  padding: 0.8rem 1.2rem;
  border-radius: 8px;
  background-color: #e4e9f2;
}
nav .nav__currency.dropdown {
  display: flex;
  align-items: center;
  position: relative;
  gap: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
nav .nav__currency.dropdown ul {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #c5cee0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-align: center;
  top: 100%;
}
nav .nav__currency.dropdown li {
  cursor: pointer;
  padding: 0.5rem;
  margin: 0;
}
nav .nav__currency.dropdown li:first-of-type {
  padding-top: 0.8rem;
}
nav .nav__currency.dropdown li:last-of-type {
  padding-bottom: 0.8rem;
}
nav .nav__currency.dropdown li:hover {
  background-color: #edf1f7;
}
nav .nav__currency ul {
  transform-origin: top;
  transform: scaleY(0);
  transition: all 0.3s;
}
nav .nav__currency .dropdown--open {
  transform: scaleY(1);
}
nav .nav__profile {
  display: flex;
  align-items: center;
  gap: 3rem;
}
nav .nav__profile * {
  cursor: pointer;
}
nav .nav__basket {
  position: relative;
  margin-bottom: -0.7rem;
}
nav .nav__basket div {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ffd339;
  border-radius: 50%;
  top: -3px;
  right: -3px;
}
nav .nav__buttons {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 100%;
  order: -1;
}
nav .nav__btn {
  padding: 1.2rem 2.6rem;
}
nav .nav__btn:not(.nav__btn:first-child) {
  background-color: #ffd339;
  border-radius: 8px;
  color: #222b45;
  border: 1px solid #ffd339;
  cursor: pointer;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 500;
  line-height: 1.6rem;
  transition: all 0.5s;
}
nav .nav__btn:not(.nav__btn:first-child):hover {
  background-color: #fbc300;
  border: 1px solid #fbc300;
}
nav .nav__btn:first-child {
  background-color: #fff;
  border-radius: 8px;
  color: #222b45;
  border: 1px solid #fff;
  cursor: pointer;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 500;
  line-height: 1.6rem;
  transition: all 0.5s;
  border: 1px solid #c5cee0;
}
nav .nav__btn:first-child:hover {
  border: 1px solid #c5cee0;
  color: #fff;
  background-color: #222b45;
}
nav .nav__collapse {
  align-items: center;
  background-color: #fff;
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  overflow-y: auto;
  padding: 2.8rem 2.4rem;
  position: fixed;
  top: 0;
  z-index: 10;
  transition: all 0.5s;
  transform: translateX(-100%);
}
nav .nav--active {
  transform: translateX(0);
}
nav .nav__close {
  position: fixed;
  top: 3rem;
  left: 2.2rem;
}
nav .hide-desktop {
  display: block;
}
@media (min-width: 992px) {
  nav .hide-desktop {
    display: none;
  }
}
nav .hide-mobile {
  display: none;
}
@media (min-width: 992px) {
  nav .hide-mobile {
    display: block;
  }
}
@media (min-width: 992px) {
  nav .overlay {
    display: none;
  }
  nav .nav__logo svg {
    width: 152px;
  }
  nav .nav__links {
    flex-direction: row;
    gap: 4.8rem;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }
  nav .nav__language,
nav .nav__currency {
    font-size: 14px;
    line-height: 20px;
  }
  nav .nav__language {
    margin: 0 0 0 10rem;
    padding: 0 1.6rem 0 0;
    border: 0;
    border-right: 1px solid #222b45;
  }
  nav .nav__language.dropdown {
    display: flex;
    align-items: center;
    position: relative;
    gap: 0.6rem;
    font-weight: 500;
    cursor: pointer;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
  nav .nav__language.dropdown ul {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #c5cee0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
    top: 100%;
  }
  nav .nav__language.dropdown li {
    cursor: pointer;
    padding: 0.5rem;
    margin: 0;
  }
  nav .nav__language.dropdown li:first-of-type {
    padding-top: 0.8rem;
  }
  nav .nav__language.dropdown li:last-of-type {
    padding-bottom: 0.8rem;
  }
  nav .nav__language.dropdown li:hover {
    background-color: #edf1f7;
  }
  nav .nav__language ul {
    gap: 0;
    display: none;
  }
  nav .nav__language .dropdown--open {
    display: block;
  }
  nav .nav__language li {
    height: auto;
    width: 100%;
    background-color: transparent;
    border-radius: 0;
  }
  nav .nav__language .dropdown--active {
    background-color: transparent;
    color: inherit;
  }
  nav .nav__currency {
    width: auto;
    padding: 0;
    background-color: transparent;
    margin: 0 3.9rem 0 1.6rem;
  }
  nav .nav__profile {
    margin-left: 6rem;
  }
  nav .nav__buttons {
    flex-direction: row;
    gap: 1.6rem;
    order: 0;
  }
  nav .nav__collapse {
    flex-direction: row;
    padding: 0;
    position: static;
    z-index: 10;
    transform: translateX(0);
    overflow: visible;
  }
}

/*# sourceMappingURL=orders.css.map */
