@use "../utilities/mixins" as *;

.block {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.hidden {
  display: none;
}

.hide-desktop {
  display: block;

  @include md {
    display: none;
  }
}

.hide-mobile {
  display: none;

  @include md {
    display: block;
  }
}

.container {
  margin: 0 auto;

  @include md {
    max-width: 720px;
  }

  @include lg {
    max-width: 960px;
  }

  @include xl {
    max-width: 1140px;
  }

  @include xxl {
    max-width: 1216px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
}
