@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;

.hero__orders {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.hero__order {
  background-color: $color-white;
  border-radius: $border-radius;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.order__info {
  padding: 2.4rem 0 3.2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 2.4rem;

  span {
    font-size: 12px;
    line-height: 16px;
    color: $color-gray;
  }

  p {
    font-weight: 500;
    margin-top: 0.4rem;
  }

  & > div:last-of-type {
    margin-top: 1.6rem;
    grid-column: 1/3;
    justify-self: center;
  }
}

.order__status {
  &--completed {
    color: $color-green;
  }

  &--pending {
    color: $color-yellow;
  }
}

.order__expand {
  align-items: center;
  background: rgba(0, 149, 255, 0.08);
  border-radius: 50%;
  border: 1px solid #0095ff;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  width: 32px;

  svg {
    width: 9.33px;
    height: 4.67px;
    fill: #0095ff;
    transition: all 0.3s;
  }

  &--active svg {
    transform: rotate(-180deg);
  }
}

.order {
  &__content {
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
  }

  &__details {
    padding: 2.4rem 0 3.2rem;
    border-top: 1.5px solid $color-light-gray;
  }

  &__link {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr 1fr;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    grid-row-gap: 1.6rem;

    p {
      color: $color-white;
      background-color: #0095ff;
      border-radius: $border-radius;
      padding: 0.4rem 1.1rem;
    }

    svg {
      grid-column: 3/4;
      cursor: pointer;
    }

    a {
      display: flex;
      align-items: center;
      gap: 0.96rem;
      padding: 0.4rem 1.2rem;
      background-color: #ffea88;
      border-radius: $border-radius;
      grid-row: 2/3;
      grid-column: 1/3;
      justify-self: start;
    }
  }

  &__specifications {
    padding: 2.4rem 0;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    & > div {
      display: flex;
      flex-direction: column;
    }

    p,
    a {
      font-size: 16px;
      line-height: 24px;
    }

    p {
      font-weight: 500;
    }

    span {
      color: $color-gray;
    }

    a {
      color: #3366ff;
    }
  }

  &__track {
    display: flex;
    align-items: flex-start;
    gap: 1.6rem;
    padding: 0.8rem 0;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    & > div:nth-child(even) {
      width: 40px;
      height: 1px;
      background-color: $color-light-gray;
      margin-top: 1.6rem;
    }
  }

  &__step {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: $color-gray;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
    white-space: nowrap;

    div {
      align-items: center;
      background-color: rgba(143, 155, 179, 0.08);
      border-radius: 50%;
      border: 1px solid $color-gray;
      display: flex;
      height: 32px;
      justify-content: center;
      width: 32px;
    }

    &--expected {
      color: $color-green;

      div {
        background-color: rgba(0, 214, 143, 0.08);
        border: 1px solid $color-green;
      }
    }

    &--ready {
      color: $color-green;

      div {
        background-color: $color-green;
        border: 1px solid $color-green;
        background-image: url("../../images/icon-done.svg");
        background-repeat: no-repeat;
        background-position: center center;
        color: transparent;
      }
    }
  }
}

@include xl {
  .hero__orders {
    gap: 0.8rem;
  }

  .hero__order {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }

  .order__info {
    padding: 2.4rem 0 2.4rem 0;
    grid-template-columns: repeat(4, 2fr) auto;
    grid-row-gap: 0rem;
    align-items: center;

    & > div:last-of-type {
      margin-top: 0rem;
      grid-column: 5/6;
    }
  }

  .order {
    &__link {
      grid-template-rows: 1fr;
      grid-row-gap: 0;
      grid-column-gap: 1.6rem;

      a {
        grid-row: 1/2;
        grid-column: 2/3;
      }
    }

    &__specifications {
      padding: 2.4rem 0;
      gap: 1.2rem;

      & > div {
        flex-direction: row;
        gap: 1.6rem;
        align-items: center;
      }

      span {
        width: 152px;
      }
    }
  }
}
