<div class="hero__menu">
  <header class="hide-mobile">Menus</header>
  <ul>
    <li class="hero__menu--active">
      <div class="hide-mobile">
        <img src="images/my-orders.svg" alt="My orders" />
      </div>
      <a href="">My orders</a>
    </li>
    <li>
      <div class="hide-mobile">
        <img src="images/marketplace.svg" alt="Marketplace" />
      </div>
      <a href="">Marketplace</a>
    </li>
    <li>
      <div class="hide-mobile">
        <img src="images/wishlist.svg" alt="Wishlist" />
      </div>
      <a href="">Wishlist</a>
    </li>
    <li>
      <div class="hide-mobile">
        <img src="images/billing.svg" alt="Billing" />
      </div>
      <a href="">Billing</a>
    </li>
    <li>
      <div class="hide-mobile">
        <img src="images/support.svg" alt="Support" />
      </div>
      <a href="">Support</a>
    </li>
    <li>
      <div class="hide-mobile">
        <img src="images/my-profile.svg" alt="My profile" />
      </div>
      <a href="">My profile</a>
    </li>
    <li>
      <div class="hide-mobile">
        <img src="images/settings.svg" alt="Settings" />
      </div>
      <a href="">Settings</a>
    </li>
    <li>
      <div class="hide-mobile">
        <img src="images/log-out.svg" alt="Log out" />
      </div>
      <a href="">Log out</a>
    </li>
  </ul>
</div>
